@import 'tailwindcss';

@layer theme {
    :root,
    :host {
        --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
            'Courier New', monospace;

        --tw-border-style: solid;
        --tw-leading: 1.5;
    }
}

body {
    background: lab(98.2596 -0.247031 -0.706708);
}